*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{background: #42455a;}
.container{
    width: 100%;
    height: 100%;
    background: #42455a;
}
.container2{
    width: 45%;
    margin: 0 auto;
}
.menu {
  height: 3rem;
  padding: 2rem;
}
.menu ul{
    display: inline-flex;
    margin-left: 3rem;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    letter-spacing: 2px;
}
.menu ul li a{
    color: #b2b1b1;
    font-size: .9rem;
    text-decoration: none;
}
.menu ul li a:hover{
  color: #19dafa;
  transition: 0.3s ease-in-out;
}
.logo{
    margin-top: -15%;
    margin-left: 19px;
}
.active{
    font-size: 95%;
    color: #19dafa !important;
}
.signup-btn{
    top: 27px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 8rem;
    position: absolute;
    color: #fff;
}
.app-txt{
    width: 50%;
    float: left;
}

.app-txt h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: -23px;
}
.app-txt p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0  30px 40px;
    line-height: 25px;
    color: #919191;
    margin-left:-20px;
}
.app-img {
    width: 50%;
    float: right;
}
.app-img img{
    width:100%;
    margin-top: -20px;
    padding-left: 50px;
}
.play-btn{
margin-left: -22px;
display: inline-flex;
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

.pause-btn-inner{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.pause-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}
.next-btn-inner{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.next-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
    margin-left: 10%;
}
.back-btn-inner{
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.back-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10%;
}
small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}
.quick-links{
    left: 4rem;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
}
.quick-links ul{
    display: inline-flex;
    padding: 2rem;
    text-align: center;
}
.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
.quick-links ul li i{
    font-size: 25px;
    color: #fff;
}
.quick-links ul li p{
    margin-top:  15px;
    font-size: 10px;
    color: #fff;
}
.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.social-icons ul li a{
  color: #999;
  border-radius: 50%;
  border: 1px solid #999;
  padding: 5px;
  display: block;
}
form {
    margin-left: -1%;
    margin-top: -5%;
    margin-right:auto;
    width: 500px;;
    height: 450px;
    padding:50px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: scroll;
}

textarea{
	background: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 110px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

select {
    width: 450px;
    height: 48px;
    line-height: 1.5;
    font-size: 1.4em;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -mox-border-radius: 10px;
    color: #fff;
    display: block;
    background: transparent;
    background-color: rgba(0,0,0,.4);
    margin-bottom: 20px;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.nameinput, .emailinput {
    width: 450px;
    height: 48px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    cursor: pointer;
}

input.nameinput {
	  background: rgba(0, 0, 0, 0.4);
	  padding-left: 45px;
}

input.emailinput {
	  background: rgba(0, 0, 0, 0.4);
	  padding-left: 45px;
}

input.message {
	  background: rgba(0, 0, 0, 0.4);
	  padding-left: 45px;
}

select.indent {
	  padding-left: 45px;
    cursor: pointer;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
	  color: #fff;
}

input:focus, textarea:focus {
	  background-color: rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
      -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
       box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	   overflow: hidden;
}

.btn {
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    width: 200px;
    height: 48px;
	color: #000;
	background: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	position: relative;
    outline: none;
    box-shadow: 0 6px #cecece;
    border-radius: 5px;
    float: right;
    margin-right: 300px;
}

.btn:hover {
	background: #fff;
  outline: none;
  box-shadow: 0 4px #cecece;
	top: 2px;
}

.btn:active {
	background: #fff;
  outline: none;
  box-shadow: 0 0 #cecece;
	top: 6px;
}

.flat {
	border: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
  position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.flat:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}


.flat {
   width: 960px !important;
   height: 48px;
   overflow: hidden;
   margin-bottom: 20px;
   background: url(http://www.jordancundiff.com/wp-content/uploads/2014/03/icon-dropdown.png) no-repeat right;
   }
 .bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

}
.bgimg-1 {
  background-image: url("img/product-hero.jpg");
  margin-top: -2%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgimg-2 {
  background-image: url("img/white.jpg");
  min-height: 400px;
  background-size: cover;
}

.bgimg-3 {
  background-image: url("img/blog_img.png");
  margin-top: -2%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  font-weight: 100;
}
.blog-hero-caption {
  font-size: 5vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  color: #fff;
  font-weight: 100;
}

.blog-hero-caption span.border {
  background-color: none;
  color: #fff;
  padding: 18px;
  font-size: 100%;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 15rem;
  border-radius: 5px;
  background: #fff;
  color: #000;
  padding: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.card_img {
  border-radius: 5px 5px 0 0;
  height: 100%;
}

.card_container {
  text-align: center;
  margin-top: 8% auto;
  float: left;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 2%;
  margin-left: 0;
}
.col {
  float: left;
  width: 25%;
  padding: 0 5%;
  margin-left: -2%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 auto; margin-left: 12%;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div #background {
    margin-top: -2%;
  height: 95%;
  width: 100%;
  background-image: url('img/bricks.png');
  padding-top: 5%;
}

div#gallery {
  width: 800px;
  margin: auto;
}


#background img {
  height: 150px;
  margin: 0px;
}

#background figure {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black;
}
#background figure figcaption{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

figure.pic1 {
  -webkit-transform : rotate(-10deg);
  z-index: 1;
}

figure.pic2 {
  -webkit-transform : rotate(15deg);
  z-index: 2;
}

figure.pic3 {
  -webkit-transform : rotate(-25deg);
  z-index: 1;
}

figure.pic4 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}

figure.pic5 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}

figure.pic6 {
  -webkit-transform : rotate(-8deg);
  z-index:1;
}

figure.pic7 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

figure.pic8 {
  -webkit-transform : rotate(-13deg);
  z-index:1;
}

figure.pic9 {
  -webkit-transform : rotate(-7deg);
  z-index:1;
}

figure.pic10 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

figure.pic11 {
 -webkit-transform : rotate(-3deg);
  z-index:1;
}
.product_gallery {
  border: 1px solid #ccc;
}

.product_gallery:hover {
  border: 1px solid #777;
}

.product_gallery img {
  width: 100%;
  height: 400px;
}

.desc {
  height: 3rem;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
.responsive {
   padding: 2% 0 0 2%;
  float: left;
  margin-right: 2%;
    width: 21%;
}
.latest-news-area{
    margin-top: 40px;
    margin-left: -8%;
}
.latest-news-wrap{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
.news-img {
    position: relative;
}
.news-img img{
    width: 100%;
    height: 25%;
}
.news-img:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}
.latest-news-wrap:hover .news-img:before{
    opacity: .5;
    transform: scale(1);
}
.date{
    background: #f89406 none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px;
}
.date span{
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.news-content{
    padding: 15px;
    margin-left: 3px;
}
.news-content i{
    font-size: 18px;
    display: inline-block;
}
.news-content .fa{
    padding: 10px 10px;
    cursor: pointer;
}
.news-content .fa-facebook{
    color: #3b5995;
}
.news-content .fa-twitter{
    color: #0084b4;
}
.news-content .fa-linkedin{
    color: #0077b5;
}
.news-content .fa-youtube{
    color: red;
}
.news-content .fa-facebook{
    color: #34af23;
}
.news-content p{
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;
    height: 15%;
}
.news-content a{
    font-size: 14px;
    background-color: #e0ad23;
    padding: 10px 20px;
    color: white;
    transition: all 0.5s ease-in;
}
.news-content a:hover{
    font-size: 14px;
    border: 1px solid #34495e;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: #34495e;
    text-decoration: none;
}
#aplayer{
    display: none;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1,1.1);
  z-index: 20;
  cursor: pointer;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
@media only screen and ( min-width: 768px ) and ( max-width: 1035px ) {
  h1 { font-size: 80px; }
  form { width: 736px !important; }
    #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat { width: 731px !important; }
    .nameinput, .emailinput, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea { width: 666px !important; }
}

@media only screen and ( max-width: 804px ) {
    h1 { font-size: 50px; }
  form { width: 450px !important; }
   #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat { width: 445px !important; }
    .nameinput, .emailinput, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea { width: 380px !important; }
}

@media only screen and ( max-width: 517px ) {
     h1 { font-size: 30px; }
  form { width: 295px !important; }
  #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat { width: 290px !important; }
    .nameinput, .emailinput, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea { width: 225px !important; }
  .btn { width: 110px; }
}